ul{
    list-style: none;
    padding: 0;
    li{
        float: left;
        width: 100%;
        line-height: 36px;
    }
}



label {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    color: #000 !important;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
  }




.count
{
    float: right;
    color: #aaa;
}

::ng-deep .ngx-slider .ngx-slider-selection {
    background: currentColor !important;
}
::ng-deep .ngx-slider .ngx-slider-pointer:after{
    width: 6px !important;
    height: 6px !important;
    top: 7px !important;
    left: 7px !important;
}


::ng-deep .ngx-slider .ngx-slider-pointer {
    width: 20px !important;
    height: 20px !important;
    top: -9px !important;
    background-color: currentColor !important;
}


::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after{
    background-color: white !important;
    border-radius: 0px !important;
    border: none !important;
}

::ng-deep .ngx-slider .ngx-slider-bubble {
    font-size: 14px !important;
    content: '' !important;
}