<div class="container-fluid" style="background-color: #fff; padding: 5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4>Categories</h4>
        </div>
        
        <div class="panel-body">
            <ul>
                <li *ngFor = "let category of categories">
                    <div class="checkboxes">
                        <input id="{{category.category_name}}"  (click)="setCategory($event,category.category_name);" type="checkbox" tabindex="1" [checked]="true"/><label class="green-background" for="{{category.category_name}}">{{category.category_name}}
                            <span class="count">({{ category.count}})</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #fff; padding: 5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4>Brands</h4>
        </div>

        <div class="panel-body">
            <ul>
                <li *ngFor = "let brand of brands">
                    <div class="checkboxes">
                        <input id="{{brand.brands_name}}" (click)="setBrand($event,brand.brands_name);" type="checkbox" [checked]="true"/><label class="green-background" for="{{brand.brands_name}}">{{brand.brands_name}}
                            <span class="count">({{ brand.count }})</span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #fff; padding: 5%;">
    <div class="panel panel-default">
        <div class="panel-heading">
             <h4>Price</h4>
        </div>
        <div class="panel-body">
            <!-- <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (valueChange)="priceChanged()"></ngx-slider> -->
            <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChangeEnd)="priceChanged()"></ngx-slider>
        </div>
    </div>
</div>

