<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 logo">
                <img src="./../../assets/icons/YarlStore.png" width="90" />
            </div>
            <div class="col-md-10" style="padding-top: 2%;">
                <div class="col-md-8">
                    <input type="text" class="form-control" style="height: 40px; border-radius: 55px;"
                        placeholder="Email Address" />

                    <button class="btn btn-subscripe">SUBSCRIBE</button>

                </div>

                <div class="col-md-2">
                    <ul class="social-list">
                        <li><img src="./../../assets/icons/icons8-play-button-96.png" width="40" height="40" /></li>
                        <li><img src="./../../assets/icons/icons8-instagram-96.png" width="40" height="40" /></li>
                        <li><img src="./../../assets/icons/icons8-facebook-old-96.png" width="40" height="40" /></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-6 col-md-3">
                <p><b>GET TO KNOW US</b></p>
                <ul>
                    <li>Founder's Greetings</li>
                    <li>Mission</li>
                    <li>History</li>
                    <li>Community</li>
                    <li>Career</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <p><b>GET TO KNOW US</b></p>
                <ul>
                    <li>Founder's Greetings</li>
                    <li>Mission</li>
                    <li>History</li>
                    <li>Community</li>
                    <li>Career</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <p><b>GET TO KNOW US</b></p>
                <ul>
                    <li>Founder's Greetings</li>
                    <li>Mission</li>
                    <li>History</li>
                    <li>Community</li>
                    <li>Career</li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <p><b>GET TO KNOW US</b></p>
                <ul>
                    <li>Founder's Greetings</li>
                    <li>Mission</li>
                    <li>History</li>
                    <li>Community</li>
                    <li>Career</li>
                </ul>
            </div>

            <!-- <div class="col-xs-6 col-md-3 con c">
                <p><b>GET TO KNOW US</b></p>
                <ul>
                    <li>Founder's Greetings</li>
                    <li>Mission</li>
                    <li>History</li>
                    <li>Community</li>
                    <li>Career</li>
                </ul>
            </div> -->
        </div>
    </div>
    <hr>

    <div class="col-md-12">
        <div class="col-md-3 p-0">
            <p style="font-size: 10px;">&copy; 2020 YarlStore.com All Rights Reserved | <a
                    href="www.apssoft.co">Design By APSSOFT Technology (Pvt) Ltd.</a></p>
        </div>
        <div class="col-md-6">
            <p style="font-size: 10px; width: 100%; text-align: center;"></p>
        </div>
        <div class="col-md-3 p-0 copyright-payment" style="margin-top: -1%;">
            <ul class="cards">
                <li><img src="./../../assets/images/mastercard.png" width="50" height="50" /></li>
                <li><img src="./../../assets/images/paypal.png" width="50" height="50" /></li>
                <li><img src="./../../assets/images/visa.png" width="50" height="50" /></li>
                <li><img src="./../../assets/images/american-express.png" width="50" height="50" /></li>

            </ul>
        </div>
    </div>
</footer>