<app-header>

</app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                <h3>{{heading}}</h3>

                <ul class="about-us-list">
                    <li>Founder's greeting</li>
                    <li>Mission</li>
                    <li>history</li>
                    <li>community</li>
                    <li>giving back</li>
                </ul>
            </div>

            <div class="col-lg-offset-1 col-md-9">
                <h1>{{heading}}</h1>
                <p>{{content}}</p>
              </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
