<section class="container-fluid">
        <div class="col-md-12 p-0">
            <div class="col-md-3 p-0 float-left">
                <h4>Featured Products</h4>
                <hr class="active-line"/>
                <ul class="fetaure-produt">
                    <li>
                        <img src="./../../assets/images/soap.jpeg" width="80" height="80"/>
                        <h4>Lifebuoy Soap Care 100G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>
                    </li>
                    <li>
                        <img src="./../../assets/images/ratthi.jpeg" width="80" height="80"/>
                        <h4>Ratthi Milk Powder Bib 400G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/noodels.jpeg" width="80" height="80"/>
                        <h4>
                            Maggi Noodles Devilled Spicy </h4>
                            <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/cooking-oil.jpeg" width="80" height="80"/>
                        <h4>Marina Cooking Oil 1L
                        </h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                </ul>
            </div>

            <div class="col-md-3 p-0 float-left-onsale">
                <h4>Onsale Products</h4>
                <hr class="active-line-onsale"/>
                <!-- <hr> -->
                <ul class="fetaure-produt">
                    <li>
                        <img src="./../../assets/images/soap.jpeg" width="80" height="80"/>
                        <h4>Lifebuoy Soap Care 100G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/ratthi.jpeg" width="80" height="80"/>
                        <h4>Ratthi Milk Powder Bib 400G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/noodels.jpeg" width="80" height="80"/>
                        <h4>
                            Maggi Noodles Devilled Spicy </h4>
                            <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/cooking-oil.jpeg" width="80" height="80"/>
                        <h4>Marina Cooking Oil 1L
                        </h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                </ul>
            </div>

            <div class="col-md-3 p-0 float-left-top">
                <h4>Top Rated Products</h4>
                <hr class="active-line-top"/>
                <ul class="fetaure-produt">
                    <li>
                        <img src="./../../assets/images/soap.jpeg" width="80" height="80"/>
                        <h4>Lifebuoy Soap Care 100G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/ratthi.jpeg" width="80" height="80"/>
                        <h4>Ratthi Milk Powder Bib 400G</h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/noodels.jpeg" width="80" height="80"/>
                        <h4>
                            Maggi Noodles Devilled Spicy </h4>
                            <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                    <li>
                        <img src="./../../assets/images/cooking-oil.jpeg" width="80" height="80"/>
                        <h4>Marina Cooking Oil 1L
                        </h4>
                        <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="margin-left: 5%; width: 130px;"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    </li>
                </ul>
            </div>


            <div class="col-md-3">
                <div class="banner-image" style="
                width: 100%;
                height: 500px;
                background: #ddd;
            ">

                </div>
            </div>
        </div>
 </section>