<section class="container-fluid" *ngFor="let category of categories" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="row">
        <div class="col-md-12 title">
            <a [routerLink]="['/category/', category.objectWise.id]" style="text-decoration: none; color: inherit;"><h3>{{category.objectWise.category_name}} <span style="font-size: 15px; margin-left: 2%;">See More..</span></h3></a>  
            <hr>
            <hr class="active-line"/>

            <!-- <div class="sub-cat">
                <ul>
                    <li *ngFor="let product_detail of category.objectWise.products">sub cat 1</li>
                </ul>
            </div> -->
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 deals-products-list" >
                <swiper  [config]="config">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide pro" *ngFor="let product_detail of category.objectWise.products">
                            <div class="content-overlay"></div>
                            <div class="product">
                                <h4>{{product_detail.product_name}}</h4>
                                <p> {{product_detail.price | number:'1.2-2'}} <span [style.float]="this.currencyService.currenyPosition"> {{this.currencyService.currencyFormat}} &nbsp;</span></p>
                                <a   [routerLink]="['/product-detail/', product_detail.id]"> <img [src]="product_detail.images[0].image_url" class="image img-responsive" /></a>
                                <br>

                                
                                    <div class="header-icon-con">
                                    <a  class="product-icn-dt" [routerLink]="['/product-detail/', product_detail.id]"> <i class="fa fa-eye" aria-hidden="true"> </i></a>
                                    </div>
                                    <div class="header-icon-con">
                                    <a  class="product-icn-dt"  (click)="addToWishList(product_detail)"> <i class="fa fa-heart" aria-hidden="true"> </i></a>
                                    </div>
                                    <button class="btn btn-warning btn-sm add-to-cart-btn" style="float:right;" (click)="addToCart(product_detail)"><i class="fa fa-cart-plus" aria-hidden="true"></i>  Add to cart </button>
    
                                
                            </div>
                        </div>
                    </div>                
                </swiper>
        </div>
    </div>
 </section>