<svg class="star-rating-blank" [ngClass]="{'star-rating-filled': rating >= starId, 'star-rating-blank': rating < starId}"  [title]="rating" (mouseenter)="onRatingEnter()" (mouseleave)="onRatingLeave()" (click)="onRatingClick()" height="53px" width="51px"
viewBox="0 0 25 23" data-rating="1"  *ngIf="ratingKind === 'userRating'">
  <polygon stroke-width="0" points="9.9, 1.1, 3.3, 21.78, 19.8, 8.58, 0, 8.58, 16.5, 21.78" />
    </svg>

    <div class="crop" [style.width.px]="starWidth" [title]="rating" *ngIf="ratingKind === 'productRating'">
      <div style="width: 150px;">
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
        <span class="fa fa-star fa-2x"></span>
      </div>
    </div>
