<h3>Create New Account</h3>
<hr>
<hr class="active-line">
<p class="sub-p">Create your own account</p>
<br/>
<form  [formGroup]="registerForm" >
    <div class="form-group">
        <input type="text" id="first_name" class="form-control" formControlName="firstName" [formControl]="registerForm.controls['firstName']" required>
        <label class="form-control-placeholder" for="first_name">First Name *</label>
    </div>

    <div class="form-group">
        <input type="text" id="last_name" class="form-control" formControlName="lastName" [formControl]="registerForm.controls['lastName']" required>
        <label class="form-control-placeholder" for="last_name">Last Name *</label>
    </div>

    <div class="form-group">
        <input type="text" id="register_email" class="form-control"  formControlName="email" [formControl]="registerForm.controls['email']" required>
        <label class="form-control-placeholder" for="register_email">Email Address *</label>
    </div>

    <div class="form-group">
        <input type="password" id="register_password" class="form-control" formControlName="password" [formControl]="registerForm.controls['password']" required>
        <label class="form-control-placeholder" for="register_password">password *</label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default" (click)="saveDetails()">Register</button>
    </div>
</form>

<br>

<h4>Register today and you'll be able to :</h4>
<ul>
    <li><i class="fa fa-check" aria-hidden="true"></i>Speed your way through the checkout</li>
    <li><i class="fa fa-check" aria-hidden="true"></i>Track your orders easily</li>
    <li><i class="fa fa-check" aria-hidden="true"></i>Keep your record of all your purchases</li>
</ul>
