@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import '../node_modules/angular-archwizard/archwizard.css';
// @import '../node_modules/bootstrap/scss/bootstrap';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$border_color : #e8e8e8;
$theme_color : #000033;

$checkbox-background: #fff;
$checkbox-border: #909090;
$checkbox-checked: $checkbox-border;
$checkbox-background-checked: yellow;



body
{
    font-family: 'Open Sans', sans-serif !important;
    color: #565656 !important;
    background-color: #efefef !important;
}
.form-control
{
    box-shadow: none;
    transition: none;
}

.center
{
    text-align:center;
}

.border-bottom
{
    border-bottom:1px solid $border_color;
}
.pull-left
{
    float: left !important;
}

.ad-banner
{
    height: 150px;
}

.container-fluid
{
    padding-left: 55px;
    padding-right: 55px;
    
    
}

.p-0 {
    padding-left: 0 !important;
}

// .active
// {
//     border-bottom: 1px solid $theme_color;
//     border-width: 5px;
// }


.btn
{
    border-radius: 0 !important;

}


.active-line
{
    margin: 0;
    position: absolute;
    border-top: 2px solid $theme_color;
    z-index: 10;
    height: 1px;
    width: 200px;

}


.btn-warning
{
    width: 55%;
}

.btn-whislist
{
  margin-left: 5px;
  background-color: #a2a2a2 !important;
  border-color: #a2a2a2 !important;
}


.swiper-slide
{
    height: 330px;
    display: block;
    // border-left: 1px solid $border_color;
    padding: 2%;

    &:hover
    {
        border: 1px solid $border_color;
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

}

.pro
{
    opacity: 1;
    display: block;
    padding: 1%;
    margin: 1%;
    // transition: .5s ease;
    backface-visibility: hidden;


      .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 40px;
        height: 40px;
        background-color: #000033c9;
        top: 0;
        right: 0;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;    
        // -webkit-transform: translate(-50%, -50%);
        // -moz-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;

         .fa-eye
         {
             font-size: 25px;
             float: left;
             color: #fff;
             cursor: pointer;
            -webkit-transform: translate(-24%, 20%);
            -moz-transform: translate(-24%, 20%);
            transform: translate(-24%, 20%);
         }
    }


    .btn-view-details
    {
        background: transparent !important;
        border: 2px solid $theme_color !important;
        color: $theme_color;
        font-weight: bold;

        &:hover
        {
            color: $theme_color;
        }
    }


}


.swiper-slide:hover .content-details{
    opacity: 1;
  }

  textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: inset 0 -0 0 #ddd;
  }


.btn-default
{
    background: #000033 !important;
    border: 1px solid #000033 !important;
    color: #fff !important;
    height: 40px !important;
    font-weight: bold !important;
    border-radius:20px !important;
}

input[type=number]{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #e8e8e8;
    height: 40px;
    width: 150px;
    padding-left:15px;
}


.float-right
{
    float: right;
}


@mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

input[type="checkbox"],
input[type="radio"] {
  @include vh();
  &:focus {
    + label {
      &:before {
      }
    }
  }
  + label {
    position: relative;
    //padding: 4px 6px 0 32px;
    padding: 0.5rem 0 0 3rem;
    margin-bottom: 1rem;
    user-select: none;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1.75rem;
      height: 1.75rem;
      border: 1px solid $checkbox-border;
      background: $checkbox-background;
      text-align: center;
      transition: background 200ms ease-out;
    }
    &:after {
      content: "";
      //background-color: $checkbox-background;
      position: absolute;
      // top: 0.45rem;
      // left:  0.5rem;
      // width: 1rem;
      // height:  1rem;
      transform: scale(0);
      transition: transform 200ms ease-out;
    }
  }
}

input[type="checkbox"] {
  + label {
    &:after {
      background-color: transparent;
      content: "";
      display: block;
      position: absolute;
      left: 0.65rem;
      top: 0.25rem;
      // margin-left: 0;
      // margin-top: 0;
      width: 0.5rem;
      height: 1rem;
      opacity: 0.2;
      border-bottom: 1px solid $checkbox-checked;
      border-right: 1px solid $checkbox-checked;
      transform: rotate(45deg);
      transition: border-color 0.3s ease;
    }
  }
  &:checked {
    + label {
      &:before {
        content: "";
        //background: $checkbox-background-checked; change checked background color
      }

      &:after {
        content: "";
        opacity: 1;
        //border-bottom: 3px solid $checkbox-checked; change checked checkedbox color
        //border-right: 3px solid $checkbox-checked; change checked checkedbox color
      }
    }
  }
}

input[type="radio"] {
  + label {
    &:before,
    &:after {
      border-radius: 50%;
    }
    &:after {
      left: 0.35rem;
      top: 0.35rem;
      width: 1rem;
      height: 1rem;
    }
  }
  &:checked {
    + label {
      &:before {
        //background: $checkbox-background-checked;
        animation: borderscale 300ms ease-in;
      }
      &:after {
        background: $checkbox-checked;
        transform: scale(1);
      }
    }
  }
}

.timepicker__header,.theme-green .bs-datepicker-head
{
  background-color: $theme_color !important;
}

.clock-face__number
{

    span.active {
      background-color: $theme_color !important;
    }
}

.timepicker-button,.theme-green .bs-datepicker-body table td.week span {
  color: $theme_color !important;
}





// .header-icon-con
// {
//     border: 1px solid #030e33;
//         border-radius: 55%;
    
//     width: 31px;
//     height: 31px;
//     float: left;
//     margin-right: 5px;

//     a{
//         text-decoration: none;
//     }

//     .fa {
//         display: block;
//         margin-left: 6px;
//         margin-top: 0px;
//         font-size: 16px;
//         color: #030e33;
//         padding-top: 6px;
//     }


//     &:hover {
//         background:#030e33 ;
        
//     }
//     &:hover .fa {
//         color: #fff;
//     }

// }
.error-text
{
  color: red;
}
/* Importing Bootstrap SCSS file. */

@media only screen and (max-width: 1400px) {
  .pro
  {
    width: 19% !important;
  }
}
@media only screen and (max-width: 600px) {

    .container-fluid
    {
        padding: 2% !important;
    }

    .pro
    {
      width: auto !important;
      border: 1px solid #eaeaea;
    }
    
    .row
    {
      width: 106%;
    }

    .header-icon-con{
    border: 1px solid #030e33;
        border-radius: 55%;
    // padding: 5px;
    width: 31px;
    height: 31px;
    float: left;
    margin-right: 5px;

    a{
        text-decoration: none;
    }

    .fa {
        display: block;
        margin-left: 6px;
        margin-top: 0px;
        font-size: 16px;
        color: #030e33;
        padding-top: 6px;
    }


    &:hover {
        background:#030e33 ;
        
    }
    &:hover .fa {
        color: #fff;
    }

    }
    .add-to-cart-btn{
      background: #fff !important;
      border: 1px solid $theme_color !important;
      border-radius: 35px !important;
      color: $theme_color !important;
      font-size: 13px !important;
    
      &:hover{
      background: $theme_color !important;
      color: #fff !important;
    
      }

}

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
  .product{
    // width: 15em;
    // margin-right: 1em;
    .header-icon-con{
      border: 1px solid #030e33;
          border-radius: 55%;
      // padding: 5px;
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 5px;
  
      a{
          text-decoration: none;
      }
  
      .fa {
          display: block;
          margin-left: 3px;
          margin-top: 0px;
          font-size: 13px;
          color: #030e33;
          padding-top: 4px;
      }
  
  
      &:hover {
          background:#030e33 ;
          
      }
      &:hover .fa {
          color: #fff;
      }
  }
  }
  .btn-warning{
    width: 55%;
    &.btn-sm{
      padding: 5px 0px;
    }
    &.add-to-cart-btn{
      background: #fff !important;
      border: 1px solid $theme_color !important;
      border-radius: 35px !important;
      color: $theme_color !important;
      font-size: 9px !important;
    
      &:hover{
      background: $theme_color !important;
      color: #fff !important;
    
      }
    }
  }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .header-icon-con
  {
      border: 1px solid #030e33;
          border-radius: 55%;
      // padding: 5px;
      width: 31px;
      height: 31px;
      float: left;
      margin-right: 2px;
  
      a{
          text-decoration: none;
      }
  
      .fa {
          display: block;
          margin-left: 6px;
          margin-top: 0px;
          font-size: 16px;
          color: #030e33;
          padding-top: 6px;
      }
  
  
      &:hover {
          background:#030e33 ;
          
      }
      &:hover .fa {
          color: #fff;
      }
  }
  .add-to-cart-btn{
    background: #fff !important;
    border: 1px solid $theme_color !important;
    border-radius: 35px !important;
    color: $theme_color !important;
    font-size: 11px !important;
  
    &:hover{
    background: $theme_color !important;
    color: #fff !important;
  
    }
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .header-icon-con
  {
      border: 1px solid #030e33;
          border-radius: 55%;
      // padding: 5px;
      width: 31px;
      height: 31px;
      float: left;
      margin-right: 5px;
  
      a{
          text-decoration: none;
      }
  
      .fa {
          display: block;
          margin-left: 6px;
          margin-top: 0px;
          font-size: 16px;
          color: #030e33;
          padding-top: 6px;
      }
  
  
      &:hover {
          background:#030e33 ;
          
      }
      &:hover .fa {
          color: #fff;
      }
  }
  .add-to-cart-btn{
    background: #fff !important;
    border: 1px solid $theme_color !important;
    border-radius: 35px !important;
    color: $theme_color !important;
    font-size: 13px !important;
  
    &:hover{
    background: $theme_color !important;
    color: #fff !important;
  
    }
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
