<app-header></app-header>

<div class="container-fluid">
    <div class="col-md-2 p-0" style="padding: 0;">
        <app-product-filters></app-product-filters>
    </div>
    <div class="col-md-10" style="padding: 0;">
        <section class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h3>{{ this.category_details['category_name']}}</h3>
                    <hr>
                    <hr class="active-line" style="z-index: 0;"/>
                </div>
    
    
                <div class="col-md-12 sub-cat" style="padding: 0;">
                    <!-- <div class="col-md-1 p-0" *ngFor="let subCat of subcategory_details" style="text-align: center;">
                        <img [src]="subCat.category_image" width="100%"/>
                        <label style="font-size: 12px; text-align: center;">{{subCat.category_name}}</label>
                    </div> -->
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let subCat of subcategory_details" style="text-align: center;">                    
                            <img [src]="subCat.category_image" width="100%"/>
                            <label style="font-size: 12px; text-align: center;">{{subCat.category_name}}</label>
                        </ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                        <ng-template carouselSlide>Slide 1</ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                        <ng-template carouselSlide>Slide 1</ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                        <ng-template carouselSlide>Slide 1</ng-template>  
                        <ng-template carouselSlide>Slide 2</ng-template>  
                        <ng-template carouselSlide>Slide 3</ng-template>  
                      </owl-carousel-o>
                </div>
            </div>
    
            <div class="row product-list">
                <div class="product-container" *ngFor="let product of products_details">
                    <h4>{{product.product_name}}</h4>
                    <p> {{product.price | number:'1.2-2'}}</p>

                    <div class="product-image">
                        <img [src]="product.images[0].image_url" height="100%"/>
                    </div>
    
                    <!-- <h4 style="text-align: center;">{{product.price | currency:'Rs '}}</h4> -->
                    <br>
                    <div class="header-icon-con">
                        <a  [routerLink]="['/product-detail/', product.id]" class="product-icn-dt" style="margin-right: 2%; margin-right: 15px;"> <i class="fa fa-eye" aria-hidden="true"> </i></a>

                    </div>

                    <div class="header-icon-con">
                        <a   (click)="addToWishList(product)"  class="product-icn-dt"> <i class="fa fa-heart-o" aria-hidden="true"> </i></a>
                    </div>
                    <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="float:right;" (click)="addToCart(product)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </a>

                    <!-- <a class="btn btn-success btn-sm" [routerLink]="['/product-detail/', product.id]" style="
                    margin-left: 10px;
                    margin-top: -10px;
                "> <i class="fa fa-eye" aria-hidden="true"> </i></a>
    
                <a class="btn btn-success btn-sm btn-whislist"  (click)="addToWishList(product)"> <i class="fa fa-heart" aria-hidden="true"> </i></a>
    
                    
                    <button class="btn btn-warning btn-sm" style="float:right;margin-right: 10px;
                    margin-top: -10px;" (click)="addToCart(product)"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart </button> -->
    
                </div>
            </div>
        
      
         </section>
    </div>
    
</div>

<app-footer></app-footer>