<app-header></app-header>

<div class="container-fluid">
    <div class="col-md-2 p-0" style="padding: 0;">
        <app-product-filters></app-product-filters>
    </div>
    <div class="col-md-10 row" style="padding:30px">
        <div class="col-md-12" *ngIf="products.length != 0">
            <form [formGroup]="filterForm">
                <span style="font-weight: bolder;">Sort By : </span>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="selectOption" (selectionChange)="changeSorting()">
                        <mat-option *ngFor="let orderByItem of orderByList" [value]="orderByItem">
                        {{orderByItem}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-3 error-text-product-empty" *ngIf="products.length==0">
            <div>Sorry, no products available.</div>
        </div>
        <div class="col-md-2 product-cart" *ngFor="let product of products">
            <div class="product">
                <h4>{{product.product_name}}</h4>
                <p> {{product.price}}</p>
                <a [routerLink]="['/product-detail/', product.id]">
                    <img [src]="product.images[0].image_url" class="image img-responsive" />
                </a>
                <div class="header-icon-con">
                    <a [routerLink]="['/product-detail/', product.id]" class="product-icn-dt"
                        style="margin-right: 2%; margin-right: 15px;"> <i class="fa fa-eye"
                            aria-hidden="true"> </i></a>

                </div>

                <div class="header-icon-con">
                    <a (click)="addToWishList(product)" class="product-icn-dt"> <i
                            class="fa fa-heart-o" aria-hidden="true"> </i></a>
                </div>
                <a type="button" class="btn btn-warning btn-sm add-to-cart-btn" style="float:right;"
                    (click)="addToCart(product)"><i class="fa fa-cart-plus"
                        aria-hidden="true"></i> Add to cart </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>